@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.buttonStyleLight {
  background-color: #fff75e;
  border: 0.16em solid rgba(255, 255, 255, 0);
  text-decoration: none;
  border-radius: 2em;
  outline: none !important;
  transition: all 0.2s;
  /* box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2); */
}
.buttonStyleLight:hover {
  background-color: #cccccc;
  /* box-shadow: -3px 15px 20px rgba(0, 0, 0, 0.2); */
  color: black;
  transform: translateY(-5px);
  border: 0.16em solid rgba(255, 255, 255, 0);
}
.buttonStyleDark {
  background-color: #4d4d4d;
  color: #fff75e;
  border: 0.16em solid rgba(255, 255, 255, 0);
  text-decoration: none;
  border-radius: 2em;
  outline: none !important;
  transition: all 0.2s;
  /* width: 100px; */
  /* box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2); */
}
.buttonStyleDark:hover {
  background-color: #fff75e;
  /* box-shadow: -3px 15px 20px rgba(0, 0, 0, 0.2); */
  color: black;
  transform: translateY(-5px);
  border: 0.16em solid rgba(255, 255, 255, 0);
}

.sendButtonStyleLight {
  background-color: #4d4d4d;
  color: white;
  border: 0.16em solid rgba(255, 255, 255, 0);
  text-decoration: none;
  border-radius: 2em;
  outline: none !important;
  transition: all 0.2s;
  /* box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2); */
}
.disabledButtonStyleLight {
  background-color: #7f7f7f;
  color: #8f8f8f;
  border: 0.16em solid rgba(255, 255, 255, 0);
  text-decoration: none;
  border-radius: 2em;
  outline: none !important;
  transition: all 0.2s;
  /* box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2); */
}
.sendButtonStyleDark {
  background-color: #fff75e;
  border: 0.16em solid rgba(255, 255, 255, 0);
  text-decoration: none;
  border-radius: 2em;
  outline: none !important;
  transition: all 0.2s;
  /* box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2); */
}
.disabledButtonStyleDark {
  background-color: #fff75e;
  border: 0.16em solid rgba(255, 255, 255, 0);
  text-decoration: none;
  border-radius: 2em;
  outline: none !important;
  transition: all 0.2s;
  /* box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.2); */
}

.mainTitleLight {
  left: 46%;
  text-decoration: none;
  color: inherit !important;
  position: absolute;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  color: black;
}
.mainTitleLight:hover {
  text-decoration: none;
  color: inherit !important;
}
.mainTitleDark {
  left: 46%;
  text-decoration: none;
  /* color: inherit !important; */
  position: absolute;
  font-family: "Anton", sans-serif;
  font-size: 30px;
  color: #ffee32;
}
.mainTitleDark:hover {
  text-decoration: none;
  color: #ffee32 !important;
}
.allPublic {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.fullTimeDivOn {
  transition: 1.5s;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fullTimeDivOff {
  transition: 0.5s;
  position: absolute;
  width: 100%;
  height: 0;
  /* z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column; */
  /* display: block; */
  /* visibility: hidden; */
}
.topDivStyleOn {
  font-size: 14vw;
  color: #ffee32;
}

.bottomDivStyleOn {
  font-size: 6vw;
  color: #ffee32;
}
.secStyleOn {
  display: flex;
  height: 88%;
  align-items: flex-end;
  font-size: 6vw;
  color: #ffee32;
}
.divideTime {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.amPmStyleOn {
  display: flex;
  align-items: center;
  color: #ffee32;
  font-size: 8vw;
}

@keyframes cssAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.timeDivTopOn {
  display: flex;
  opacity: 0;
  font-family: "Anton", sans-serif;
  animation: cssAnimation 1s ease-in-out 1s forwards;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
}
.timeDivTopOff {
  display: none;
}

.timeDivBottomOn {
  display: flex;
  opacity: 0;
  font-family: "Anton", sans-serif;
  animation: cssAnimation 1s ease-in-out 1s forwards;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
}
.timeDivBottomOff {
  display: none;
}

.maxPublicLight {
  transition: 0.5s;
  background-color: #fff75e;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maxPublicDark {
  transition: 0.5s;
  background-color: #4d4d4d;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarTitleLight {
  transition: 0.5s;
  font-family: "Assistant", sans-serif;
  font-weight: 200;
}
.navbarTitleDark {
  transition: 0.5s;
  color: #fff;
  font-family: "Assistant", sans-serif;
  font-weight: 200;
}
.logoFix {
  cursor: pointer;
  background-color: gold;
  width: 200px;
}

.fontChange {
  font-family: "Anton", sans-serif;
  font-weight: 200;
}
.digiClockLight {
  transition: 0.5s;
  background-color: #fff;
  border-radius: 5px;
  width: 260px;
  font-family: georgia;
  font-variant-numeric: oldstyle-nums;
}
.digiClockDark {
  transition: 0.5s;
  background-color: rgb(90, 90, 90);
  color: #fff;
  border-radius: 5px;
  width: 260px;
  font-family: georgia;
  font-variant-numeric: oldstyle-nums;
}

.navbarBigLight {
  position: static !important;
  flex-wrap: inherit !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  transition: 0.5s;
  width: 100%;
  min-width: 870px;
  height: 150px;
  background-color: #fff75e;
}
.navbarBigDark {
  position: static !important;
  flex-wrap: inherit !important;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0 !important;
  transition: 0.5s;
  width: 100%;
  min-width: 860px;
  height: 150px;
  background-color: #4d4d4d;
}
.navbarFlex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 870px;
}
.hyperlinkNavbarLight {
  color: rgb(100, 100, 100);
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  text-decoration: none !important;
}
.hyperlinkNavbarDivLight :hover {
  color: grey !important;
}
.hyperlinkNavbarDark {
  color: rgb(189, 189, 189);
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  text-decoration: none !important;
}
.hyperlinkNavbarDivDark :hover {
  color: rgb(209, 209, 209) !important;
}
.hyperlinkNavbarTitle {
  color: rgb(56, 56, 56);
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  text-decoration: none !important;
}
.hyperlinkNavbarTitle:hover {
  color: rgb(56, 56, 56);
}
.logoutNavbar {
  color: rgb(100, 100, 100);
  margin: 0 !important;
  font-family: "Assistant", sans-serif;
  font-weight: 200;
}
/* .logoutNavbarDiv :hover {
  cursor: pointer;
  color: grey !important;
} */
.logoutNavbarDiv {
  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 100px; */
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.links {
  /* flex-grow: 0 !important; */
  /* height: 40%; */
}
.regisLoginDiv {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

/* global chat */
.onOffUsersLight {
  margin-right: 0 !important;
  padding-left: 7 !important;
  width: 180px !important;
  height: 208px !important;
  overflow-y: scroll;
}
.onOffUsersDark {
  margin-right: 0 !important;
  padding-left: 7 !important;
  width: 180px !important;
  height: 208px !important;
  overflow-y: scroll;
}
.onOffUserId {
  font-family: "Assistant", sans-serif;
}
.conversationBoxLight {
  transition: 0.5s;
  background-color: white;
  border-radius: 5px;
  min-width: 210px;
  width: 16%;
  height: 270px;
  display: flex;
  flex-direction: column;
}
.conversationBoxDark {
  transition: 0.5s;
  background-color: rgb(112, 112, 112);
  border-radius: 5px;
  min-width: 210px;
  width: 16%;
  height: 270px;
  display: flex;
  flex-direction: column;
}
.conversationBoxSmallOneLight {
  transition: 0.5s;
  height: 60px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conversationBoxSmallOneDark {
  transition: 0.5s;
  height: 60px;
  background-color: #8f8f8f;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userIsOnlineLight {
  transition: 0.5s;
  color: #ffee32;
}
.userIsOnlineDark {
  transition: 0.5s;
  color: #ffee32;
}

.globalBoxLight {
  position: static !important;
  transition: 0.5s;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 220px;
}

.globalBoxDark {
  position: static !important;
  transition: 0.5s;

  background-color: #7f7f7f;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 220px;
}
.chatBox {
  position: static !important;
  padding-right: 0px !important;
  display: flex;
  flex-direction: column;
  min-width: 465px;
  width: 50%;
  height: 270px;
}
.formStyle {
  position: static !important;
}
.globalBig {
  width: 100%;
  min-width: 920px;
  height: 270px;
  display: flex;
}
.usersOnline {
  color: rgb(54, 54, 54);
}

/* video iframe */
.videoBigLight {
  background-color: white;
  transition: 0.5s;
  border-radius: 5px;
  width: 570px;
  min-width: 570px;
  height: 320px;
  border-top-left-radius: 0;
  /* border: 1px solid black; */
}
.videoBigDark {
  background-color: #7f7f7f;
  transition: 0.5s;
  border-radius: 5px;
  width: 570px;
  min-width: 570px;
  height: 320px;
  border-top-left-radius: 0;
}
.videoInputBox {
  height: 31px;
}
.inputSizeLight {
  border: none;
  height: 100%;
  /* border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  transition: 0.5s;
  width: 250px;
}
.inputSizeDark {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 100%;

  /* border: none; */
  /* border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0; */
  transition: 0.5s;
  background-color: #7f7f7f;
  cursor: context-menu;
  color: white;
  border: none;
  outline: none;
  width: 250px;
}
.inputSizeDark::placeholder {
  color: rgb(216, 216, 216);
}
.youtubeTwoButtonsLight {
  outline: none !important;
  transition: all 0.5s;
  border-radius: 8px !important;
  border: 2px solid rgb(216, 216, 216);
  font-family: "Assistant", sans-serif;
  font-weight: 350;
}
.youtubeTwoButtonsLight:hover {
  background-color: rgb(204, 204, 204);
}
.youtubeTwoButtonsLight:disabled:hover {
  background-color: #fff;
}

.youtubeTwoButtonsDark {
  outline: none !important;
  transition: all 0.5s;
  background-color: rgb(209, 209, 209);
  border-radius: 8px !important;
  border: 2px solid rgb(216, 216, 216);
  font-family: "Assistant", sans-serif;
  font-weight: 350;
}
.youtubeTwoButtonsDark:hover {
  background-color: rgb(180, 180, 180);
}
.youtubeTwoButtonsDark:disabled {
  opacity: 0.5;
}
.youtubeTwoButtonsDark:disabled:hover {
  background-color: rgb(209, 209, 209);
}

/* memo */
.memoBig {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  min-width: 350px;
  min-height: 350px;
  margin-right: 15px;
}
.memoBoxLight {
  transition: 0.5s;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 350px;
  resize: none;
}
.memoBoxDark {
  transition: 0.5s;
  background-color: #7f7f7f;
  cursor: context-menu;
  color: #f2f2f2;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 350px;
  resize: none;
}

.memoBoxDark::placeholder {
  color: rgb(216, 216, 216);
}

/* todo list */
.todoBig {
  transition: 1s;
  min-width: 230px;
  width: 25%;
  min-width: 240px;
  height: 270px;
}
.todoBig:hover {
  transition: 1s;
  width: 500px;
  /* height: 600px; */
}
.todoFormSize {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 215px;
}
.eachTodoSize {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  padding-left: 10px;
  padding-top: 10px;
  height: 30px;
}
/* scroll style */
/* light */
.todoListSizeLight::-webkit-scrollbar,
.onOffUsersLight::-webkit-scrollbar,
.memoBoxLight::-webkit-scrollbar,
.globalBoxLight *::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
.todoListSizeLight::-webkit-scrollbar-track,
.onOffUsersLight::-webkit-scrollbar-track,
.memoBoxLight::-webkit-scrollbar-track,
.globalBoxLight *::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}
.todoListSizeLight::-webkit-scrollbar-thumb,
.onOffUsersLight::-webkit-scrollbar-thumb,
.memoBoxLight::-webkit-scrollbar-thumb,
.globalBoxLight *::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cccccc;
}
/* dark */
.todoListSizeDark::-webkit-scrollbar,
.onOffUsersDark::-webkit-scrollbar,
.memoBoxDark::-webkit-scrollbar,
.globalBoxDark *::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
.todoListSizeDark::-webkit-scrollbar-track,
.onOffUsersDark::-webkit-scrollbar-track,
.memoBoxDark::-webkit-scrollbar-track,
.globalBoxDark *::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}
.todoListSizeDark::-webkit-scrollbar-thumb,
.onOffUsersDark::-webkit-scrollbar-thumb,
.memoBoxDark::-webkit-scrollbar-thumb,
.globalBoxDark *::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cccccc;
}

.todoListSizeLight {
  transition: 0.5s;
  background-color: white;
  border-radius: 5px;
  width: 90%;
  min-width: 220px;
  height: 240px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* overflow-wrap: break-word; */
  overflow-x: hidden;
  overflow-y: scroll;
  border-top-left-radius: 0;
}
.todoListSizeDark {
  transition: 0.5s;
  background-color: #7f7f7f;
  color: white;
  border-radius: 5px;
  width: 90%;
  min-width: 220px;
  height: 240px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* overflow-wrap: break-word; */
  overflow-x: hidden;
  overflow-y: scroll;
  border-top-left-radius: 0;
}
.todoInputLight {
  /* width: 100%; */
  transition: 0.5s;
  /* font-family: "Assistant", sans-serif;
  font-weight: 200; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  outline: none;
}
.todoInputDark {
  background-color: #7f7f7f;
  cursor: context-menu;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  border: none;
  outline: none;
}
.todoInputDark::placeholder {
  transition: 0.5s;
  color: rgb(216, 216, 216);
}
.todoAddButtonLight {
  outline: none !important;
  transition: all 0.5s;
  border-radius: 8px !important;
  border: 2px solid rgb(216, 216, 216);
  font-family: "Assistant", sans-serif;
  font-weight: 350;
}
.todoAddButtonLight:hover {
  background-color: rgb(204, 204, 204);
}
.todoAddButtonDark {
  outline: none !important;
  transition: all 0.5s;
  background-color: rgb(209, 209, 209);
  border-radius: 8px !important;
  border: 2px solid rgb(216, 216, 216);
  font-family: "Assistant", sans-serif;
  font-weight: 350;
}
.todoAddButtonDark:hover {
  background-color: rgb(180, 180, 180);
}
.todoDeleteLight {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  transition: all 0.2s;
  height: 20px;
  width: 20px;
}
.todoDeleteLight:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transform: translateY(-4px);
  color: #f5f5f5;
  background-color: #f38375;
  height: 20px;
  width: 20px;
  border-radius: 15px;
}
.todoDeleteDark {
  /* outline: none !important;
  transition: all 0.5s;
  background-color: rgb(209, 209, 209);
  border-radius: 8px !important;
  border: 2px solid rgb(216, 216, 216);
  font-family: "Assistant", sans-serif;
  font-weight: 350; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.2s;
  height: 20px;
  width: 20px;
}
.todoDeleteDark:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transform: translateY(-4px);
  color: #f5f5f5;
  background-color: #f38375;
  height: 20px;
  width: 20px;
  border-radius: 15px;
}

/* max */
.maxTopHalf {
  display: flex;
  min-width: 920px;
  height: 350px;
}
.maxGlobal {
  height: 100%;
  min-width: 920px;
  min-height: 290px;
  display: flex;
  align-items: center;
}
.maxHomepage {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

/* message */
.messageOnlineLight {
  transition: 0.5s;
  color: #ffee32;
}
.messageOnlineDark {
  transition: 0.5s;
  color: #ffee32;
}
.messageOfflineLight {
  transition: 0.5s;
  color: black;
}
.messageOfflineDark {
  transition: 0.5s;
  color: black;
}

.messageMomentDark {
  transition: 0.5s;
  color: rgb(202, 202, 202);
}

/* etc */
.modeLight {
  transition: 0.5s;
  font-family: "Assistant", sans-serif;
  font-weight: 350;
  font-size: 12px;
  border-radius: 5px;
  padding: 0;
}
.modeLight:hover {
  background-color: gold;
}
.modeDark {
  transition: 0.5s;
  font-family: "Assistant", sans-serif;
  font-weight: 350;
  font-size: 12px;
  border-radius: 5px;
  padding: 0;
}
.modeDark:hover {
  background-color: gold;
}

form input {
  background-color: white;
  border-color: rgb(223, 223, 223);
  border-radius: 5px;
}

/* login page */
.hyperlinkSignup {
  color: white;
  font-family: "Assistant", sans-serif;
  font-weight: 200;
  text-decoration: none !important;
}
.hyperlinkSignup:hover {
  color: black;
  font-weight: 400;
}

/* sign up page */
.signUpSize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 100%;
}

/* tester html */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}

.light {
  color: yellow;
}
.dark {
  color: blueviolet;
}
